<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Tutti's Burger</title>
</head>
<body>
    <div class="container">
        <img src="assets/logo.svg" alt="logo" class="rounded mx-auto d-block mt-5">
        
        <h1>Seja bem vindo!</h1>
        <div class="d-grid gap-2">
            <a href="/cardapio" class="btn" id="btnStart">Faça o seu Pedido</a>
        </div>
    </div>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>