<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3000000">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/cadastroproduto.css">
    <title>Cadatro</title>
</head>
<body>
    <div class="container">
        <img src="assets/logo.svg" alt="logo" class="rounded mx-auto d-block mt-5"> 
        <h3 id="titulo">Cadastro de Produtos</h3> 
        <hr class="border border-danger border-1 opacity-50">
        <form action="/createproduct" method="post" enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label for="nome">Nome do Produto</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome do Produto" name="name" required>
            </div>
            <div class="form-group mb-2">
                <label for="preoo">Preço</label>
                <input type="text" class="form-control" id="preco" placeholder="Preço" name="price" required>
            </div>
            <div class="form-group mb-2">
                <label for="image">Imagem do produto</label>
                <input type="file" class="form-control-file" id="file" name="src" required>
            </div>
            <div class="form-group mb-2">
                <label for="descricao">Ingredientes</label>
                <textarea class="form-control" id="descricao" rows="3" name="ingredients" required></textarea>
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn" id="btnCadstrar">Cadastrar</button>                
            </div></form>      
    </div>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>